/* Main Primary color */
/* Main Primary color */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  background: #ae6f3e;
}
.main {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.main .container-h {
  display: flex;
  width: 100%;
  justify-content: space-between;
  justify-items: stretch;
  height: 15vh;
  flex-direction: row;
}
.main .container-h .product-header {
  display: flex;
  width: 100%;
  justify-content: space-around;
  justify-items: stretch;
  height: 10vh;
  flex-direction: row;
}
.main .container-h .product-header .h-button {
  border-radius: 12px;
}
.main .container-h .product-header .logo {
  display: flex;
  justify-content: center;
  justify-self: center;
  width: 25%;
  margin-top: 3%;
}
.main .main-content {
  width: 80%;
  height: 100%;
  display: flex;
  transform-style: preserve-3d;
  flex-wrap: wrap;
  margin-top: 3%;
  justify-content: space-around;
  flex-basis: fit-content;
  align-self: center;
}
.main .main-content .panels {
  display: flex;
  position: relative;
  width: 20%;
  height: 25%;
  margin: 5px;
  border-radius: 12px;
  background: #e6d9c7;
  transition: all 5s ease-in-out;
}
