@import "var";


*{
    
    overflow:hidden;
}
body{
    position:absolue;
    display:block;
    height:auto;
    width:100vw;
}

::-webkit-scrollbar{
    background:@rgba-primary-2;
  
}
::-webkit-scrollbar-button{
    background:@rgba-primary-3;
    color:@rgba-primary-3;
}

::-webkit-scrollbar-track{
    background:@rgba-primary-0;
}
