/* Main Primary color */
/* secondary */
* {
  overflow: hidden;
}
body {
  position: absolue;
  display: block;
  height: auto;
  width: 100vw;
}
::-webkit-scrollbar {
  background: #d99e71;
}
::-webkit-scrollbar-button {
  background: #854819;
  color: #854819;
}
::-webkit-scrollbar-track {
  background: #ae6f3e;
}
