/* Main Primary color */
/* Main Complement color */
* {
  box-sizing: border-box;
}
.container {
  position: absolute;
  width: 100vw;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-image: url("https://cdn.discordapp.com/attachments/644333219512188928/644357514607067156/auction-image.png");
}
.container h1 {
  display: flex;
  font-size: 9rem;
  justify-content: center;
  padding-bottom: 10vh;
  font-weight: bold;
  color: #1e27ac;
}
.container nav {
  display: flex;
}
.container nav a {
  display: flex;
  margin: 2%;
  width: 22vw;
  height: 20vh;
  text-decoration: none;
  justify-content: space-evenly;
  font-size: 3rem;
  background-color: rgba(255, 255, 255, 0.45);
  align-items: center;
  color: black;
  border: 1px solid black;
  transition: all 0.75s ease-in-out;
}
.container nav a:hover {
  background-color: rgba(0, 0, 0, 0.75);
  color: whitesmoke;
  opacity: 1;
  transform: scale(1.09);
  transition: all 0.5s ease-in-out;
  border: 4px ridge white;
}
