// Color assignments 


@rgba-primary-0: rgba( 84,102,127,1);	/* Main Primary color */
@rgba-primary-1: rgba(164,173,186,1);
@rgba-primary-2: rgba(118,132,152,1);
@rgba-primary-3: rgba( 59, 78,107,.5);
@rgba-primary-4: rgba( 37, 57, 86,1);

@rgba-complement-0: rgba(167,105,129,1);	/* Main Complement color */
@rgba-complement-1: rgba(227,198,210,1);
@rgba-complement-2: rgba(199,150,169,.5);
@rgba-complement-3: rgba(140, 71, 98,1);
@rgba-complement-4: rgba(113, 42, 70,.68);



@bg-main:@rgba-primary-4;
@btn-color:@rgba-complement-2;
@panel-color:@rgba-complement-4;
@mobile: ~"(max-width: 500px)";

@text-shadow:2px 1px 2px @rgba-complement-4;
@box-shadow:2px 1px 1px 2px black, -2px -1px 1px -2px gray;
@bg: rgba(164,173,186,1);
@large-txt: rgb(30, 39, 172);
