// Color assignments 


@rgba-primary-0: rgba( 84,102,127,1);	/* Main Primary color */
@rgba-primary-1: rgba(164,173,186,1);
@rgba-primary-2: rgba(118,132,152,1);
@rgba-primary-3: rgba( 59, 78,107,1);
@rgba-primary-4: rgba( 37, 57, 86,1);

@rgba-complement-0: rgba(167,105,129,1);	/* Main Complement color */
@rgba-complement-1: rgba(227,198,210,1);
@rgba-complement-2: rgba(199,150,169,1);
@rgba-complement-3: rgba(140, 71, 98,1);
@rgba-complement-4: rgba(113, 42, 70,1);

@bg-gradient:@rgba-primary-3,@rgba-primary-2,@rgba-primary-0,@rgba-secondary-0,@rgba-primary-3,@rgba-primary-2;
// Mobile escaping

// Max-width 500px "mobile"
@mobile: ~"(max-width: 500px)";
 